*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    background: url('images/paisaje.jpg') no-repeat;
    --background-size: cover;
    --background-position: center;    
}

.bodyTwo{
    min-height: 100vh;
    background: url('images/atardecer.jpg') no-repeat;
    background-size: cover;
    --background-position: center;
}

.header{
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgb(0, 0, 0, .1);
    --backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

section h1{
    text-align: center;
    font-size: 40px;
}
section{
    position: relative;
    margin-top: 100px; 
    --color:     #000000  ;   
    color: white;
}
.noticia img{
    width: 400px;
    height: 250px;
    margin-right: 50px;
}
.noticia{
    position: relative;
    display: flex;
}
.noticia p{
    margin-left: 60px;
    font-size: 20px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    --position: relative;
    margin-top: 750px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4 ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}